<div id="transparency">
  <div id="reasons">
    <h3>My Name is Eric Mooney</h3>
    <h3>...and I'm becoming a <em>programmer</em></h3>
    <h4>Why?</h4>
    <ul>
      <li>I want to follow the "rabbit hole"</li>
      <li>My community is engaged and engaging</li>
      <li>The world has many challenges</li>
      <li>I want to turn my dreams into practical, powerful applications</li>
      <li>and... I want to have fun</li>
    </ul>
  </div>
</div>