<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/style.css">
<head>
  <title>Programming Journey</title>
  <!--Consider changing fonts!-->
  <link href='http://fonts.googleapis.com/css?family=Bigshot+One' rel='stylesheet' type='text/css'>
</head>
<body>  
  <div id="nav">
    <ul>
      <li class="active"><a href="">Home</a></li>
      <li><a href="">Bio</a></li>
      <li><a href="">Portfolio</a></li>
      <li><a href="">Contact</a></li>
    </ul>
  </div>
  <div id="container">
    <%= yield %>
  </div>
  <div id="footer">
    <h3>Will you join me on my journey?</h3>
    <div id="social_holder">
      <img class="social" id="facebook" src="">
      <img class="social" id="twitter" src="">
      <img class="social" id="linkedin" src="">
      <img class="social" id="skype" src="">
      <img class="social" id="google_plus" src="">
      <img class="social" id="email" src="">
    </div>

  </div>      
</body>
</html>